@import '~bootstrap/scss/bootstrap';

body {
  background-color: darkSlateGray;
  font-family: 'Heebo', sans-serif;
  background: linear-gradient(to bottom, #353A3F,  75%, #369DA1);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  color: antiqueWhite;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

.col-3 {
  // border: 2px solid black;
  // border-bottom: 1px solid black;
  border-right: 5px solid antiqueWhite;
  color: antiqueWhite;
  font-size: 50px;
  height: 120px;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  &:nth-child(3n) {
    border-right: 0;
  }
  // &:nth-child(n-3) {
  // border-bottom: 0;
  // }
}

.row1{
  border-bottom: 5px solid antiqueWhite;
}

.row2{
  border-bottom: 5px solid antiqueWhite;
}

.score-display, .stats-display, .messages, .player-indicator {
  color: antiqueWhite;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}
